html {
    font-family: GeneralSans, sans-serif;
    background-color: rgb(252, 250, 243);
}

h1, h2, h3, h4, h5, h6, p, a, li {
    font-family: GeneralSans, sans-serif;
    color: rgb(28,28,28);
}

nav li {
    padding: 0 4px !important;
}

nav li a {
    border-radius: 99999px;
    padding: 4px 10px 0px 10px;
    background-color: rgb(222, 222, 222);
    margin: 0;
}

.left {
    margin-left: 0 !important;
}

li a:hover, li a.active {
    background-color: rgb(28,28,28);
    color: white;
    text-decoration: none;
}

button {
    background-color: #FCB912;
    color: black;
}

#chatbox {
    width: 100%;
    height: 600px;
    overflow-y: scroll;
    padding: 10px;
    border: 1px solid black;
    border-radius: 6px;
    margin: 10px 0;
}

.chat-user {
    text-align: right;
    > div {
        display: inline-block;
        background-color: #3DA2D6;
        padding: 10px;
        border-radius: 6px;
        max-width: 420px;
    }
}

.chat-bot {
    text-align: left;
    > div {
        display: inline-block;
        background-color: #EE4823;
        padding: 10px;
        border-radius: 6px;
        max-width: 420px;
    }
}

.map {
    width: 400px;
    height: 300px;
}